<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

  {{ partial "head.html" . }}

  <body>
    <!-- Wrap is the content to shift when toggling the sidebar. We wrap the
         content to avoid any CSS collisions with our real content. -->
    <div class="wrap">
      <div class="masthead">
        <div class="container">
          <h3 class="masthead-title">
            <a href="/" title="Home">{{ .Site.Params.Title }}</a>
            <small>{{ .Site.Params.Tagline }}</small>
          </h3>
        </div>
        <div class="container">
          <a class="nav-item" href="{{ .Site.Params.Github.Url }}"> <i class="fa fa-github"></i> GitHub</a>
          <a class="nav-item" href="{{ .Site.Params.Twitter.Url }}"> <i class="fa fa-twitter"></i> Twitter</a>
        </div>
      </div>

      <div class="container content">
